# Block all game files
/*

# Back up all game files that have the same names as the files in this folder
!Replaces

# Additional files
!SeamlessCoop

!.gitignore

!nrsc_launcher.exe
!dlllist.txt
!winmm.dll
!OnlineFix*

!README.md